{% extends 'base.html' %}
{% load static from staticfiles %}
{% block activate1 %}active{% endblock %}
{% block contenido %}
<!--Comienza slider-->
		<div class="row-fluid slideshow-row">
			<div class="span12 slideshow">
				<div class="slider-wrapper theme-default">
					<div class="ribbon"></div>
					<div id="nivoslider-125" class="nivoSlider">
						<img src="{% static "css/images/1.jpg" %}" alt=""/>
						<img src="{% static "css/images/2.jpg" %}" alt=""/>
						<img src="{% static "css/images/3.jpg" %}" alt=""/>
					</div>
				</div>
				<div id="nivoslider-125-caption-0" class="nivo-html-caption"></div>
			</div>
		</div><!--Fin slider-->

<div class="row-fluid home">
	<div class="span12">
		<h2>Comienza <span><a href="{% url 'viewtipoHab' %}">reservando tu habitación</a></span>
		<br />
		</h2>

	</div>
</div>

<hr />
<div class="row-fluid">

	<div class="span3">
		<h3><span>H</span>abitaciones</h3>
		<a href="#"><img src="{% static "css/images/suite.jpg" %}" alt="" /></a>
		<p>
			Ve nuestras habitaciones y reservala al instante
		</p>
	</div>
	<div class="span3">
		<h3><span>S</span>ervicios</h3>
		<a href="#"><img src="{% static "css/images/restaurant.jpg" %}" alt="" /></a>
		<p>
			Disfrute de los mejores platillos de Jiquilpan en nuestro Restautant
		</p>
	</div>
	<div class="span3">
		<h3><span>P</span>romociones</h3>
		<a href="#"><img src="{% static "css/images/recepcion.jpg" %}" alt="" /></a>
		<p>
			Hospedate cinco noches y disfrute de una noche más totalmente <b>gratis</b>!
		</p>
	</div>
	<div class="span3">
		<h3><span>U</span>bicacion</h3>
		<!--<iframe width="220" height="135" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com.mx/maps?source=s_q&amp;hl=es-419&amp;geocode=&amp;q=hotel+palmira&amp;aq=&amp;sll=23.554131,-102.6205&amp;sspn=24.13917,43.286133&amp;ie=UTF8&amp;hq=hotel+palmira&amp;hnear=Jiquilpan+de+Ju%C3%A1rez,+Michoac%C3%A1n&amp;split=1&amp;t=m&amp;ll=19.988965,-102.717552&amp;spn=0.006295,0.007524&amp;output=embed"></iframe>-->
		<br />
		<small><a href="#">Ver mapa más grande</a></small>
	</div>
</div>
{% endblock %}