{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="utf-8" />
		<title>Hotel Palmira</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="description" content="" />
		<meta name="author" content="" />
		<link rel="stylesheet" href="{% static "bootstrap/css/bootstrap.min.css" %}" type="text/css" />
		<link rel="stylesheet" href="{% static "bootstrap/css/bootstrap-responsive.min.css" %}" type="text/css" />
		<link rel="stylesheet" href="{% static "css/hotel.css" %}" type="text/css" />
		<link rel="stylesheet" href="{% static "css/hotel-responsive.css" %}" type="text/css" />
		<link rel="stylesheet" href="{% static "js/slider/default.css" %}" type="text/css" media="screen" />
		<link rel="stylesheet" href="{% static "css/nivo-slider.css" %}" type="text/css" media="screen" />
		<link rel="stylesheet" href="{% static "css/socialcount-with-icons.css" %}" type="text/css" media="screen" />
	</head>
	<body>
		<p>Hola</p>
	</body>
</html>